<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<p></p>
<h1>Contact Us</h1>
<div>
  <table class="address_details">
    <tr>
      <!--<td><img src="/assets/store/email.png" alt="email"></td>-->
      <td><h6>Email Address</h6></td>
    </tr>
    <tr>
        <!--<td></td>-->
        <td><a href="mailto:customerservice@lilyandmax.co.uk">customerservice@lilyandmax.co.uk</a></td>
    </tr>
    <tr>
      <!--<td><img src="/assets/store/telephone.png" alt="telephone"></td>-->
      <td><h6>Phone Number</h6></td>
    </tr>
    <tr>
        <!--<td></td>-->
        <td>07900 345 398</td>
    </tr>
    <tr>
        <!--<td><img src="/assets/store/stamp-address.png" alt="address-stamp"></td>-->
        <td><h6>Address Details</h6></td>
    </tr>
    <tr>
        <!--<td></td>-->
        <td>Lily and Max Ltd</td>
    </tr>
    <tr>
        <!--<td></td>-->
        <td>42 Kempthorne Lane</td>
    </tr>
    <tr>
        <!--<td></td>-->
        <td>Bath</td>
    </tr>
    <tr>
        <!--<td></td>-->
        <td>BA2 5DX</td>
    </tr>
  </table>
 <p></p>
</div>