<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<p></p>
<h1>Delivery</h1>
<div>
    Orders over the value of £70.00 qualify for free delivery. Orders that are under £70.00 will incur a delivery charge of £3.95.
    </br></br>
    We aim to despatch orders as soon as possible once your order is received and anticipate that orders will be delivered within one week. Please note that if an order is placed outside of business hours (Monday to Friday between 09.00 and 17.30 excluding Bank Holidays) your order will processed on the next working day and the estimate of a week should be taken from then.
    </br></br>
    If your order is for delivery to Northern Ireland or the “Highlands and Islands” please allow extra time for delivery.
    </br></br>
    Orders will be delivered by Royal Mail Recorded delivery. If delivery fails you will be left a card by Royal mail and will be able to collect your parcel from your local sorting office or arrange redelivery (see your attempted delivery card for details on how to do this).
  <p></p>
</div>