<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<p></p>
<h1>Delivery</h1>
<div>
    Orders over the value of £50.00 qualify for free delivery. Orders that are under £50.00 will incur a delivery charge. The delivery charge is calculated by weight. Delivery charges range in price from £1 to £5.30 (the price of shipping a standard parcel with Royal Mail) and are calculated by the weight (or combined weight) of the item/s purchased.
    </br></br>
    We aim to despatch orders as soon as possible once your order is received and anticipate that orders will be delivered within one week. Please note that if an order is placed outside of business hours (Monday to Friday between 09.00 and 17.30 excluding Bank Holidays) your order will processed on the next working day and the estimate of a week should be taken from then.
    </br></br>
    If your order is for delivery to Northern Ireland or the “Highlands and Islands” please allow extra time for delivery.
    </br></br>
    If you require your parcel more urgently, please contact us for a quote on faster delivery options.
  <p></p>
</div>