<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<p></p>
<h1>About Us</h1>
<div>
    Lily and Max was created from the realisation that throwing a wonderful and special birthday celebration for your little ones can prove difficult and time consuming with very little choice of coordinating party ware readily available out there.
    </br></br>
    My husband and I celebrated our Daughter's 1st birthday in January2011, however with her birthday falling so close to Christmas we found it really difficult to find both the time and the lovely items to put together a perfect little birthday party for her. We did manage to have a delightful little tea party for her but we felt we could have made it so much more special if we'd been able to find all the bits and pieces to create a wonderful party. So we've spent the last few months sourcing everything to make your little ones day that little bit more special without you having to dedicate a lot of your time finding everything you need.
    </br></br>
    Our party kits contain only high quality items that beautifully complement each other to make your little ones day all that more memorable. All kits contain a disposable tablecloth, paper plates and cups, bunting or garland, napkins, balloons, balloon ribbon, candles, cake slice boxes and party bags. We also offer some lovely extras that perfectly complement each of the theme's, these include center pieces, cupcake kits, cupcake stands and some fun extras like butterfly fairy wings and wands. Invitations and thank you cards are also available.
    </br></br>
    In just a few minutes you can order all the basics to help you create your wonderful party, all you need to do is provide the food, cake, games and fill the party bags with items of your choice. Keep an eye on our blog for tips on party food, cakes, games, party bag fillers and other great suggestions.
    </br></br>
    We really hope you find our party kits helpful. We’d love to hear how your party goes and see any photos you'd like to send us, and with your permission we'll include them in our blog. Please feel welcome to get in touch with us at <a href="mailto:customerservice@lilyandmax.co.uk">customerservice@lilyandmax.co.uk</a> or via facebook or twitter. We'd also be grateful for any feedback you might have.
    </br></br>
    Have fun!
    </br>
    Lauren x
  <p></p>
</div>