<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<p></p>
<h1>Privacy & Cookies Policy</h1>


<li>The cookie settings on this website are currently set to allow cookies* - this will give you the best experience possible. If you continue without changing your cookie settings, you consent to that. However, you can change your cookie settings at any time if you do not consent.</li>
<li>We are committed to protecting your privacy. We will only use the information that we collect about you lawfully (in accordance with the Data Protection Act 1998).</li>
<li>We collect information about you for two reasons: firstly, to process your order and secondly, to provide you with the best possible service. We will not contact you in the future unless you have given us your consent. We will give you the chance to refuse any marketing email from us.</li>
<li>We will never collect sensitive information about you without your explicit consent. The information we hold will be accurate and up to date. You can check the information that we hold about you by emailing us. If you find any inaccuracies we will delete or correct it promptly.</li>
<li>We do not store credit card details nor do we share customer details with any 3rd parties.</li>
<p></p>

<b>* More information about cookies:</b>
<p/>
<p/>

<li>Cookies are text files containing small amounts of information which are downloaded to your device when you visit a website. Cookies are then sent back to the originating website on each subsequent visit, or to another website that recognises that cookie.</li>

<li>This website uses two categories of cookies, which we have called strictly necessary and performance. This website does not require the use of any other categories of cookies. If you turn off performance cookies the site won't work as well as it could.</li>

<li>The examples below outline what these categories of cookies are used for. Our uses of cookies fall within these categories. </li>
<p/>

<h3>Strictly Necessary Cookies</h3>

<li>These cookies are essential in order to enable you to move around the website and use its features, such as adding items to your basket and accessing secure areas of the website.
Without these, cookies services you have asked for, like shopping baskets, cannot be provided.</li>

<p/>

<h3>Performance Cookies</h3>

<li>These cookies collect information about how visitors use a website, for instance which pages visitors go to most often, and if they get error messages from web pages.</li>
<li>These cookies don't collect information that identifies a visitor. </li>
<li>Information collected by these cookies is aggregated and therefore anonymous. It is only used to improve how a website works.</li>


<p/>
<p/>
<p/>