<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<p></p>
<h1>Newsletter</h1>
<div>Keep an eye on our Newsletter for tips on partyfood, cakes, games, party bag fillers and other great suggestions. </div>
<p></p>
<div><h6>Newsletter signup at the bottom of the page</h6></div>

