<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<p></p>
<h1>Returns</h1>
<div>
    We are sure you will be very happy with your order, however, if you are not completely satisfied with your purchase you may return your order back to us within 28 days of the date of despatch. If goods aren't returned to us within this time unfortunately we will be unable to process a return.
    </br></br>
    All items returned should be in good condition, with all the original packaging fully intact and in saleable condition. We will consider the overall condition of the product being returned when making a refund. This does not affect your statutory rights in the event of faulty goods. If we find that the product has not been returned to us in a fully re saleable condition, we reserve the right to refuse a refund on the item. We aim to process returns within 5 working days of receipt.
    </br></br>
    If any of your items arrive damaged or broken we must be notified of this within 48hours of receipt so we can arrange a replacement or refund. We are unable to replace or refund any items reported damaged after this time.
    </br></br>
    Please note when sending a return, the parcel is your responsibility until it reaches us, therefore we recommend sending any returns by Royal Mail Recorded or Special Delivery so they fully traceable. Once the parcel has been received we will issue a refund providing it is returned in its original packing with all stickers in place and in a suitable condition for immediate resale. We regret that Postage and Packing cannot be refunded
    </br></br>
    <b>Returns</b>
    </br>
    Should be sent to the following address, please be sure to include your order number:
    </br></br>
    Lily and Max Ltd,</br>42 Kempthorne Lane,</br>Bath,</br>BA2 5DX
    </br></br>
    <b>Exchanges</b>
    </br>
    If you would like to exchange your pack for an alternative pack please notify us as soon as possible so we can ensure we have your replacement put by for you to avoid disappointment. Please note exchanges will need to processed within 14 days of despatch.
    </br></br>
    <b>Refunding the Delivery Charge</b>
    </br>
    If we have made a mistake on an item sent to you or it is faulty, we will refund the delivery charges incurred in returning the item to us.
    If you would like to discuss the exchange or return of any item, please email us at <a href="mailto:customerservice@lilyandmax.co.uk">customerservice@lilyandmax.co.uk</a>
  <p></p>
</div>
