<% content_for :sidebar do %>
  <div data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/taxonomies' %>
  </div>
<% end %>

<p></p>
<h1>Terms and Conditions</h1>
<div>
  As with all terms and conditions, these get a bit technical and we're sorry if they sound rather formal. However, they are pretty standard and designed to enhance your online shopping experience and make it as easy and secure as possible.
  </br></br>
    These terms and conditions apply to the use of the Lily and Max website. By placing an order with us, you are agreeing to accept these terms and conditions (The Conditions).
    Please note, these terms and conditions can potentially change at any time, and it is your responsibility to check these terms and conditions regularly before ordering products in case there are any changes. If you do not agree with the terms and conditions set out below, you should not use or access www.lilyandmax.co.uk
    </br></br>
    <h6>Liability</h6>
    <li>We do not accept liability (except as set out below) for any errors and/or omissions contained in our website and reserve the right to change information, prices, specifications and descriptions of listed goods, products and services at any time and without notice.</li>
    <li>If an error is discovered in the price of the goods that you have ordered, we will inform you as soon as possible. We shall be under no obligation to fulfill an order for a product that was advertised at an incorrect price.</li>
    <li>In the unlikely event that you receive goods which were not what you ordered or which are damaged or defective, or are of a different quantity to that stated on your order, we shall make good any shortage or non-delivery, replace or repair any damaged or defective goods, or refund to you the amount you paid for the goods in question provided that you notify us of the problem in writing at the address shown in the "contact us' page of our website within 10 working days of delivery of the goods plus return the goods to us, unless we inform you that return is not necessary. This provision does not affect your statutory rights.</li>
    <li>We have taken every measure to provide accurate product images for each product for sale on the site. However, due to a number of different factors such as Internet browsers, monitor colour contrasts etc, we cannot be held responsible or liable for any differences in colour between the image and the actual product.</li>
    <li>The products sold on the Lily and Max website are provided for private domestic and consumer use only. Accordingly, we do not accept liability for any indirect loss, consequential loss, loss of data, loss of income or profit, loss of damage to property and/or loss from claims of third parties arising out of the use of the Site or for any products or services purchased from www.lilyandmax.co.uk.</li>
    <li>We have taken every measure to prevent Internet fraud.</li>
    <li>We shall have no liability to you for any delay in the delivery of products ordered or any other matters to the extent that the delay is due to any event outside our reasonable control, including but not limited to acts of God, war, flood, fire, labour disputes, strikes, lock-outs, riots, civil commotion, malicious damage, explosion, governmental actions and any other similar events.</li>
    <li>We make no warranty that the Website will meet your requirements or will be uninterrupted, timely or error-free, that defects will be corrected, or that the site or the server that makes it available are free of viruses or bugs or represents the full functionality, accuracy, reliability of the Website. We will not be responsible or liable to you for any loss of content or material uploaded or transmitted through the Website.</li>
    <li>To the fullest extent permissible under applicable law, we disclaim any and all warranties of any kind, whether express or implied, in relation to the Products. This does not affect your statutory rights as a consumer, nor does it affect your Contract Cancellation Rights.</li>
    <li>We will not be liable, in contract, tort (including, without limitation, negligence), pre-contract or other representations (other than fraudulent or negligent misrepresentations) or otherwise out of or in connection with the conditions for:</li>
    <li>Any economic losses (including without limitation loss of revenues, profits, contracts, business or anticipated savings); or</li>
    <li>Any loss of goodwill or reputation; or</li>
    <li>Any special or indirect losses suffered or incurred by that party arising out of or in connection with the provisions of any matter under the Conditions.</li>
    <li>Nothing in the Conditions shall exclude or limit our liability for death or personal injury resulting from our negligence or that of our servants, agents or employees.</li>
    <li>Lily and Max Ltd's liability to you in all other instances shall not exceed the value of the product ordered by you.</li>
    </br>
      <div style="border-style: solid; border-width:1px; padding: 5px">
      <h6 style="text-decoration: underline">Please note</h6>
        Some products and items for sale on this website are unsuitable for children under the age of <b>36 months</b> due to, but not limited to, small parts which may present a choking hazard or sharp points that may cause injury. We do not accept liability for any injury, loss or damage which occurs due to the products.
        All the items selected by Lily and Max, where required, comply with the European Toy Safety Regulations and bear the CE mark and age guides where appropriate. Please retain any packaging for future reference.
        <br>
        Adults should inflate balloons and supervise their use with children under <b>8 years</b>.
      </div>
    </br>
    <h6>Privacy policy</h6>
    <li>We are committed to protecting your privacy. We will only use the information that we collect about you lawfully (in accordance with the Data Protection Act 1998).</li>
    <li>We collect information about you for two reasons: firstly, to process your order and secondly, to provide you with the best possible service. We will not contact you in the future unless you have given us your consent. We will give you the chance to refuse any marketing email from us.</li>
    <li>We will never collect sensitive information about you without your explicit consent. The information we hold will be accurate and up to date. You can check the information that we hold about you by emailing us. If you find any inaccuracies we will delete or correct it promptly.</li>
    <li>We do not store credit card details nor do we share customer details with any 3rd parties.</li>
    </br>
    <h6>Security</h6>
    <li>All online purchases take place in a safe environment using the latest security technology to protect our customers.</li>
    <li>Sensitive information such as your credit card details, name and contact details are encrypted to ensure your orders remain private and protected over the Internet. We accept orders only from web browsers that permit communication through Secure Socket Layer (SSL) technology. This means you will only be able to place an order through a secure connection and information passed between your computer and our website cannot be read in the event that someone else intercepts it.</li>
    <li>We will never ask for personal details via email. If you receive an unsolicited email asking you for your Lily and Max log in details, please contact our Customer Service team immediately at <a href="mailto:customerservice@lilyandmax.co.uk">customerservice@lilyandmax.co.uk</a></li>
    <li>If you have any questions regarding our credit card security policies please contact us via email at <a href="mailto:customerservice@lilyandmax.co.uk">customerservice@lilyandmax.co.uk</a></li>
    </br>
    <h6>Delivery</h6>
    <li>Orders over the value of £65.00 qualify for free delivery. Orders that are under £65.00 will incur a delivery charge. The delivery charge is calculated by weight. Delivery charges range in price from £0.69 to £6.50 (the price of shipping a standard parcel with Royal Mail) and are calculated by the weight (or combined weight) of the item/s purchased. </li>
    <li>We aim to despatch orders as soon as possible once your order is received and anticipate that  orders will be delivered within one week. Please note that if an order is placed outside of business hours (Monday to Friday between 09.00 and 17.30 excluding Bank Holidays) your order will processed on the next working day and the estimate of a week should be taken from then.</li>
    <li>If your order is for delivery to Northern Ireland or the “Highlands and Islands” please allow extra time for delivery.</li>
    <li>Orders will be delivered by Royal Mail Recorded delivery. If delivery fails you will be left a card by Royal mail and will be able to collect your parcel from your local sorting office or arrange redelivery (see your attempted delivery card for details on how to do this).</li>
    </br>
    <h6>Returns & Exchanges</h6>
    <li>We are sure you will be very happy with your order, however, if you are not completely satisfied with your purchase you may return your order back to us within 28 days of the date of despatch. If goods aren't returned to us within this time unfortunately we will be unable to process a return.</li>
    <li>All items returned should be in original condition, with all the original packaging fully intact and in saleable condition. We will consider the overall condition of the product being returned when making a refund. This does not affect your statutory rights in the event of faulty goods. If we find that the product has not been returned to us in a fully re saleable condition, we reserve the right to refuse a refund on the item. We aim to process returns within 5 working days of receipt.</li>
    <li>If any of your items arrive damaged or broken we must be notified of this within 48hours of receipt so we can arrange a replacement or refund. We are unable to replace or refund any items reported damaged after this time.</li>
    <li>Please note when sending a return, the parcel is your responsibility until it reaches us, therefore we recommend sending any returns recorded or special delivery so they fully traceable. Once the parcel has been received we will issue a refund providing it is returned in its original packing with all stickers in place and in a suitable condition for immediate resale. We regret that Postage and Packing cannot be refunded</li>
    <li>Returns should be sent to the following address, please be sure to include your order number:</li>
    <br>
    Lily and Max Ltd
    <br>
    42 Kempthorne Lane
    <br>
    Bath
    <br>
    BA2 5DX
    </br></br>
    <h6>Exchanges</h6>
    <li>If you would like to exchange your pack for an alternative pack please notify us as soon as possible so we can ensure we have your replacement put by for you to avoid disappointment. Please note exchanges will need to processed within 14 days of despatch.</li>
    </br>
    <h6>Refunding the Delivery Charge</h6>
    <li>If we have made a mistake on an item sent to you or it is faulty, we will refund the delivery charges incurred in returning the item to us.</li>
    <li>If you would like to discuss the exchange or return of any item, please email us at <a href="mailto:customerservice@lilyandmax.co.uk">customerservice@lilyandmax.co.uk</a></li>
    <li>When ordering from Lily and Max we do all we can to make sure you are happy with your purchase, however we have to say that everything on our website is offered for sale subject to availability.</li>
  <p></p>
</div>